/* === GLOBAL CSS RESET === */
/*
 * html, body, div, span, applet, object, iframe,
 * h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 * a, abbr, acronym, address, big, cite, code,
 * del, dfn, em, img, ins, kbd, q, s, samp,
 * small, strike, strong, sub, sup, tt, var,
 * b, u, i, center,
 * dl, dt, dd, ol, ul, li,
 * fieldset, form, label, legend,
 * table, caption, tbody, tfoot, thead, tr, th, td,
 * article, aside, canvas, details, embed, 
 * figure, figcaption, footer, header, hgroup, 
 * menu, nav, output, ruby, section, summary,
 * time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 * }
*/

/*
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
 * === LAPTOP === 
 */

    .col-md-4 #error, #error-no {
        margin: 0 auto;
        text-align: center;
        /*max-width: 480px;*/
        padding: 10px 5px;
    }

    .col-md-4 #error-type, #error-msg {
        margin: 0 auto;
        text-align: left;
       /* max-width: 480px;*/
        padding: 5px 5px;
        font-family: Times NewRoman;
        font-size: 30px;
    }

    .divider-vertical {
        align-content: center;   
        height: 200px;
        margin: 0 10px;
        float: left;
        opacity: 0.5;
        border-left: 3px solid #F2F2F2;
        border-right: 3px solid #FFF;
        border-right-color: #222222;
        border-left-color: #111111;
    }

    .row.one{
        margin-top: 30%;
    }

    .row.two {
        margin-top: 30px;
    }

    /*.nb-error .error-code {
        color: #2d353c;
        font-size: 96px;
        line-height: 100px;
    }

    .nb-error .error-desc {
        font-size: 12px;
        color: #647788;
    }
    .nb-error .input-group{
        margin: 30px 0;
    }*/



    /*@media (max-width: 767px) {
        .navbar-collapse .nav > .divider-vertical {
            display: none;
         }
    }*/

/*
 * <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
 * === DESKTOP === 
 */





/*
 * <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
 * === BIG SCREENS 2K/4K === 
 */




 
/*
 * <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
 */

/*
 * ><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>< 
 * === RESPONSIVE SECTION === 
 * ><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><
 */

/*
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
 * === TABLET === 
 */




 
/*
 * <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
 * === MOBILE === 
 */




 
/*
 * <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
 */