/*
 * Navigation Bar
 */
.navbar {
    margin-bottom: 0;
}

.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
}

.inverse-dropdown .divider {
    background-color: #000;
}

.inverse-dropdown li a {
    color: #999;
}

.inverse-dropdown li a:hover, li a:focus, li a:active, li a:visited{
    color: #fff;
    background-color: #000;
}

/*
 * General Alignment
 */
.padding-top {
    padding-top: 10px;
}

h3.form-heading {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #FF2A2A;
}

/*h3 a {
    text-decoration: none;
    color: #3D464D;
}

h3 {
    color:red;
}

a:hover {
    text-decoration: none;
    color: #7B8994;
}

a:visited {
    color: #304040;

}

a:active {
    color: #B50938;
}

a:focus {
    text-decoration: none;
}*/

body {
    background-color: #E9EAE9;
}


/***************************
 * ===== RESPONSIVE =====
 **************************/
@media (min-width: 1600px) and (max-width: 1920px) {

    button {
        width: 150px;
    }

    h3.form-heading {
        font-size: 26px;
        font-weight: 500;
        margin-top: 50px;
    }

    hr {
        margin-left: 0;
        margin-right: 0;
        align: left;
        width: 50%;
    }

    .registration-username {
        margin-top: 30px;
    }

    .col-lg-6.col-sm-6 {
        width: 550px;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: rgba(249, 245, 243, 0.5);
    }

    #main-content {
        margin-left: 270px;
    }
}


.user-content-info {
    margin-left: -15px;
}

.user-image {
    width: 64px;
    height: 64px;
}